$red: #8f0404;
$blue: #073f80;
$yellow: #b39800;
$gray: #4f5254;
$green: #067e38;
$disabled: #6b6b6b;

$background: #0d0f10;
$primary: #bf6800;
$color: #e5e5e5;
$panel: #1b1c1f;
$panel-light: #121316;
$panel-dark: #0b0c0c;
